#Omitir archivo de conexión a base de datos
DataAccess/ConnectionToSql.cs

#Omitir carpetas Debugs
Presentation/obj/Debug/*
Presentation/bin/Debug/*
Domain/obj/Debug/*
Domain/bin/Debug/*
DataAccess/obj/Debug/*
DataAccess/bin/Debug/*
Common/obj/Debug/*
.vs/