#Omitir archivo de conexión a base de datos
DataAccess/ConnectionToSql.cs

#Omitir carpetas Debugs
Presentation/obj/*
Presentation/obj/Debug/*
Presentation/bin/Debug/*
Domain/obj/Debug/*
Domain/obj/*
DataAccess/obj/Debug/*
DataAccess/obj/*
Common/obj/Debug/
Common/obj/*
.vs/